	.main-div{
		display:flex;
		min-height: calc(107vh);
	}
	.left-div{
		display:inline-block;
		vertical-align: middle;
		width: 12.5%;
		background-color: #393E46;
		padding-top: 15px;
	}
	.scroll-div{
		position: absolute;
	    left: 12.5%;
	    height: 16%;
	    width: 1.4%;
	    top: 39%;
	    border: 1px solid;
	    border-radius: 0px 7px 7px 0px;
	    background-color: #222831;
	    border-left: red;
	}
	.set-div{
		display:flex;
		flex-direction: column;	
		flex: 1 0 auto;
	}
	.scroll-a{
		display: block;
	    width: 100%;
	    height: 100%;
	    display: flex;
    	flex-direction: column;
    	justify-content: center;
	}
	.scroll-a i{
		position:absolute;
		transform: translate3d(0, 0, 0);
  		transition: transform .4s;
	}
	.category-div{
   	 	margin-bottom: 30px;
	}
	.category-span{
		color: C9D6DF;
	    font-size: 17px;
	    padding-left: 24px;
	    padding-right: 24px;
	    opacity: 0.5;
	}
	.menubar{
		color: black;
		display: block;
	}
	.menu-li{
		padding-bottom: 30px;
	}
	.menu-icon{
		padding-left: 8px;
	}
	.down-fa{
	float: right;
    padding-right: 25px;
	}
	.admin-title{
		padding: 20px 0 30 0;
		border-bottom: 1px solid rgba(0,0,0,0.4);
	}
	.admin-border{
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.graph-summary{
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.admin-day{
		background-color: white;
	    width: 92%;
	    margin: 10 0 10 0;
    	border: 1px solid rgba(0,0,0,0.2);
	}
	.admin-graph,.admin-summary,.admin-iquiry,.admin-notice{
		margin: 15 15 15 15;
		border: 1px solid rgba(0,0,0,0.5);
	}
	.admin-graph{
		background-color: white;
	    display: flex;
   		flex-direction: column;
    	align-items: center;
    	width: 45%;
    	height: 100%;
	}
	.admin-summary{
   	 	align-items: center;
		background-color: white;
	    width: 45%;
	    height: 100%;
	}
	.iquiry-notice{
		display: flex;
	    flex-direction: row;
	    height: 50%;
	    width: 100%;
	    justify-content: center;
	}
	.admin-iquiry{
		overflow: overlay;
		background-color: white;
	    width: 45%;
	    height: 95%;
	}
	.admin-notice{
		background-color: white;
	    width: 45%;
	    height: 95%;
	    overflow: auto;
	}
	.admin-info{
		background-color: white;
	    text-align: center;
	    width: 20%;
	    height: 48.6%;
	}
	.day-tag{
		display: inline-block;
	}
	.admin-day ul li{
		display: inline-block;
	}
	.day-div{
		display: flex;
	    flex: 1 0 auto;
	    align-items: center;
	    flex-direction: column;
	}
	.day-num{
		color: red;
	}
	.day-result{
		background-color: #ffbe33;
    	padding: 0 10 0 10;
    	border-radius: 20px;
	}
	.summary-table{
		height: auto;
	}
	.admin-sub-title{
		margin: 4px;
		font-weight: 700;
		text-align: center;
	}
	.div-hr{
		border: 1px solid;
		opacity: 0.06;
		width: 100%;
	}
	.iquiry-div div img{
		width: 48px;
		height: 48px;
		float: left;
		margin-right: 10px;
	}
	.iquiry-message{
		width: 80%;
		margin: 11 0 22 15;
	}
	.iquiry-first{
		font-weight: bold;
		padding-left: 10px;
	}
	.iquiry-second-name{
		border-right:1px solid;
		padding-right: 10px;
		opacity: 0.7;
	}
	.iquiry-second-date{
		padding-left: 10px;
		opacity: 0.7;
	}
	.iquiry-message a{
		color: black;
	}
	.iquiry-message a:hover{
		color : red;
		opacity: 0.5;
	}