@charset "UTF-8";
/* CSS Document */
 
/* 공지색  #222831 */
/* 포인트 주황색 #FFD369 */
/* 메인 배경색 #151515 */
html, body {
  height: 100%;
}


body {
    margin: 0px; 
    font-size: 18px;
    padding:0;
	width:100%; 
}
/* 공지 */
#notice{
	background-color: #222831; 
	height: 50px;
}
/* 상단바 */
#box {
    position: relative;
    height: auto;
    margin: auto; 
    background-color: #FFFFFF;
    border-bottom: solid 1px #FFD369;
}
#top {
    background-color: #010101;
    height: auto;
    width: 100%;
    position: relative;
}
.navbar-nav{
	margin-right: 40px;
}
.search-menu{
	width: 0px;
	height: 0px;
	border-radius: 15px;
}

.search-bar {
  position: relative;
  width: 300px;
  bottom: 10px;
}

.search-bar > input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search-bar > img {
  position : absolute;
  width: 17px;
  top: 12px;
  right: 12px;
  margin: 0;
  cursor: pointer;
}

.user-icon {
	margin-left: 5px;
}
.user-search > i{
	color: white;
	cursor: pointer;
}
.user-search > i:hover{
	color: #FFD369;
}
#user_info > p{
	margin: 0px;
	color: white;
	font-weight 700;
	text-align: center;
	font-size: 15px;
	
}
/* 드롭다운 */
.dropdown-item:hover{
	background-color: #FFD369;
}
/* /상단바 */

/* 메인 */
#main {
/*     background-color: #010101; */
    background-color: #151515;
    float: left;
/*     height: 100%; */
    width: 100%;
    position: relative;
}
.main-container{
	margin-bottom: 10px;
}
.sub-main {
	display: flex;
	justify-content: center;
	padding: 0px;
}
.sub-left{
	margin-right: 5px;
	position: relative;
}
.sub-right{
	margin-left: 5px;
	position: relative;
}
.sub-title{
	position: absolute;
	color: white;
	
}
.sub-title > h2 {
	font-family: "고딕";
	font-weight: 700;
	margin-top: 50px;
}
.left-text > p {
}
.sub-img{
	width: 950px;
	height: 580px;
}
.a-style{
	color:  inherit;
}
.a-link > a:hover{
	color:  #FFD369;
}
.a-span{
	color: #FFD369;
}
.a-left{
	margin-right: 10px;
}
.a-right{
	margin-left: 10px;
}
/* 카드 */
#card {
	height: 300px;
	width: 300px;
	position: relative;
	
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card{
	overflow: hidden; 
  object-fit:cover;
  transform:scale(1.0);        
  transition: 0.2s ease-in-out;
  border: solid 2px #202020;
  width: 268px;
  height: 500px;
  margin-right: 10px; 
	
}
.main-card{
  overflow: hidden; 
  object-fit:cover;
  transform:scale(1.0);        
  transition: 0.2s ease-in-out;
  border: solid 2px #202020;
  width: 268px;
  height: 500px;
  margin-right: 10px; 
	
}
 .main-card-img-top{ 
   object-fit:cover;      
   transform:scale(1.0);         
   transition: 0.2s ease-in-out; 
   width: 280px;
   height: 280px;
 } 
 .main-card-body{ 
   border-top: solid 2px #202020;
   color: white;
   background-color: #202020;
   
 } 
 .main-card-body > p{ 
   color: #c0c0c0;
   font-size: 15px;
   
 } 
 .main-card-icon {
 	position: absolute;
 	top: 460px;
 	left: 190px;
 	
 }
 .main-card-price{
 	position: absolute;
 	top: 460px;
 }

.main-card:hover{  
   transform: translateY(20px); 
   cursor: pointer; 
   
 } 
 
.main-card-container{
 	display: flex;
/*  	justify-content: center; */
 }

.fa-shopping-cart{
	color: white;
}

.fa-shopping-cart:hover{
   animation: motion 0.3s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
   color: #FFD369;
 }
@keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 7px;} /* 마지막 위치 */
  }
  
  
.fa-heart{
	color: white;
}

.fa-heart:hover{
   animation: motion 0.3s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
   color: red;
 }
@keyframes2 motion2 {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 7px;} /* 마지막 위치 */
  }
  
/* 하단바 */
footer{
	background-color: #202020;
/* 	position: absolute; */
/* 	bottom: 0; */
	width: 100%;
 }
.footer-container{
	display: flex;
	color: #e3e3e3;
}
.footer-top{
	margin-right: 140px;
	padding-left: 75px;
}
.footer-label{
	text-align: center;
	font-size: 15px;
}
.footer-list > ul{
	list-style: none;
	font-size: 10px;
	color: #808080;
	padding-left: 0px;
}
.footer-list > ul > li {
	margin-bottom: 8px;
}
.footer-line{
	border-bottom: solid 1px #444444;
}
/* 로그인 페이지 */
.login{
	display: flex; 
	justify-content: center; 
	height: 100%;
	background-color: #101010;
 	color: white;
 	align-items: center;
}
.login-ui {
	 background-color: #202020; 
	 border: solid 1px #FFD369;
	 border-radius: 15px;
	 box-shadow: 2px 2px 100px rgb(180,180,180);
}
.login-ui > h3{
	text-align: center;
	
}
#btn-addr-search:hover{
	background-color: #FFD369;
}
#btn-register{
	
}
.signup {
	display: flex;
/* 	margin-top: 50px; */
	justify-content: center;
/* 	height: 100%; */
/* 	align-items: center; */
	color: white;
	background-color: #101010;
}
.signup-row{
	 background-color: #202020; 
	 border: solid 1px #FFD369;
	 border-radius: 15px;
	 box-shadow: 2px 2px 100px rgb(180,180,180);
	 margin: 80px;
}
.signup-row > .col-md-12{
	 padding: 20px;
}
.signup input{
	width: 340px;
}
/* 포인트 */
.point-list{
	display: none;
}
.point-button > th{
	border-bottom: hidden;
	border-left: hidden;
	border-right: hidden;
	text-align:center;
}
/* 마이페이지 */
/* 사이드바 */
.side-bar{
	background-color: #303030;
	position: absolute;
	left: -260px;
	width: 300px;
	height: 100%;
	transition: left 1s, background-color 2s;
}
.side-bar:hover {
	left: 0%;
	background-color: #080808;
	transition: left 1s, background-color 3s;
	
}
.side-bar>.icon>div{
    text-align:right;
    padding: 10px;
    color: #FFD369;
}
.side-bar:hover>.icon>div:last-child{   
    display:block;
    color: #FFD369;
}

.side-bar:hover>.icon>div:first-child{  
    display:none;
}
.side-bar>.icon>div:last-child{
    display:none;
}
.side-menu > ul > li{
	list-style: none;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
/* 	border: solid 1px #888888; */
	right: 40px;
	
}
.side-menu > ul > li > a{
	display:block;
    font-weight:bold;
    padding:10px;
    white-space:nowrap;
    color: white;
    
}
.side-menu ul > li:hover>a{
    color: #FFD369;
    border: solid 1px #FFD369;
}
/* //사이드바 */
/* 마이페이지 */
.side-myPage > ul > li:first-child> a{
	color: #FFD369;
}

.myInfo-main{
	height: 100%;
	display: flex;
	background-color: #303030;
}
.myPage-main{
	
	
/* 	justify-content:  */
	
}
/* .myPage-main{ */
/* 	display: flex; */
/* 	height: 100%; */
	
/* 	justify-content: flex-start; */
/* 	background-color: #303030; */
/* } */
.myPage-text{
	margin-top: 150px;
	margin-left: 100px;
	width: 500px;
	color: white;
}
.myPage-text > h1{
	font-family: 굴림체;
}
.myPage-line{
	border-bottom: solid 1px #FFD369;
	margin-bottom: 15px;
}
.myPage-line-gray{
	border-bottom: solid 1px #777777;
	margin-bottom: 15px;
}
/* .myPage-modify-section{ */
/* 	padding: 0px; */
/* } */

/* 마이페이지 회원정보수정 */
.modify-container{
/* 	height: 100%; */
/* 	background-color: #303030;	 */
}
.myPage-modify-main{
	display: flex;
/* 	position: inherit; */
	height: 100%;
/* 	justify-content: flex-start; */
	background-color: #303030;
}
.myPage-modify-text{
/* 	height: 100%; */
/* 	margin-top: 150px; */
	margin-left: 30%;
	width: 500px;
	color: white;
	position: relative;
}
.myPage-modify-text > h1{
	font-family: 굴림체;
}
.myPage-modify-line{
	border-bottom: solid 1px #FFD369;
	margin-bottom: 15px;
}
/* //마이페이지 회원정보수정 */

/* 마이페이지 포인트, 쿠폰 */
.myPage-point {
	display: flex;
	height: 100%;
	background-color: #303030;
	justify-content: center;
	align-items: center;
}
.myPage-point {
	display: flex;
	height: 100%;
	background-color: #303030;
	justify-content: center;
	align-items: center;
}
.myPage-point-container > h1{
	color: white; 
	font-family: 굴림체;
}
.point-table{
	color: white;
}
.myPage-coupon{
	display: flex;
	height: 100%;
	background-color: #303030;
	justify-content: center;
	align-items: center;
}
.myPage-coupon-container > h1{
	color: white; 
	font-family: 굴림체;
}
.coupon-table{
	color: white;
}
.myPage-myOrder{
	display: flex;
	height: 100%;
	background-color: #303030;
	justify-content: center;
/* 	align-items: center; */
}

/* 마이페이지 내 주문내역 */
.myPage-myOrder h2{
	color: white; 
	font-family: 굴림체;
}
.myOrder-card{
	background-color: #202020;	
}
.myOrder-card-title{
	color: white;
}
.myOrder-card-title:hover{
	color: #FFD369;
}
/* 찜목록 */
.myPage-like {
	
	background-color: #303030;
    float: left;
/*     height: 100%; */
    width: 100%;
/*     position: relative; */
	
}

.side-myPage-point > ul > li:nth-child(2) > a{
/* 	color: #FFD369; */
}

/* 구매페이지 */
.point-table{
	color: white;
}
.div-buy{
	display: flex;
	height: 100%;
	background-color: #303030;
}
.div-buy p{
	color: white;
	font-family: 굴림체;
	font-weight: 600;
}
.div-buy i{
	color: white;
}
.div-buy span{
	color: white;
	font-family: 굴림체;
	font-weight: 600;
	margin-left: 6px;
}
.buy-col{
	border: solid 1px #FFD369;
	right: 10px;
}
.buy-title{
	margin-top: 50px;
}
.buy-title > h1{
	color: white;
	font-family: 굴림체;
	font-weight: 600;
}
.buy-info > h3{
	color: white;
	font-family: 굴림체;
}
.buy-info > p{
	margin-left: 6px;
}
.buy-title > p{
	margin-left: 6px;
}
#checkbox-div{
	display: flex;
	justify-content: flex-end;
	margin-right: 77px;
	margin-bottom: 10px;
}

/* 우측 구매바 */
.buy-price{
	width: 400px;
 	margin-top: 10%;
}
.buy-col > h2{
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 굴림체;
	font-weight: 700;
}
.buy-col > p{
	font-size: 18px;
	margin-left: 6px;
}
.buy-result{
	font-size: 23px;
	font-weight: 600;
}
.buy-image{
	width: 150px;
	height: 150px;
	border-top: solid 1px #606060;
	border-bottom: solid 1px #606060;
}
.btn-buy {
	margin-top: 50px;
	margin-bottom: 10px;
	width: 100%;
	height: 80px;
	font-weight: 600;
	font-size: 20px;
}
.buy-prodect{
	position: static;
}
.buy-prodect-pname{
	border-top: solid 1px #606060;
	border-bottom: solid 1px #606060;
	border-right: solid 1px #606060;
	width: 300px;
	height: 150px;
}
.buy-prodect-pname > p{
	margin-left: 15px;
	margin-right: 15px;
	font-family: 굴림체;
	font-weight: 700;
}
.buy-prodect-pname > ul{
	color: white;
	padding-left: 15px;
}
.buy-prodect-pname > ul >li{
	color: white;
	list-style: none;
}
.buy-prodect-count{
border: solid 1px #606060;
	
}
.buy-prodect-count > p{
	margin: 50px;
	text-align: center;
	color: white;
}
.buy-prodect-price{
border: solid 1px #606060;
}
.buy-prodect-price > p{
	margin: 50px;
	text-align: center;
	color: white;
}
.buy-prodect-delivery{
border: solid 1px #606060;
}
.buy-prodect-delivery > p{
	margin: 50px;
	text-align: center;
	color: white;
}
.buy-prodect-checkbox{
/* 	margin: 50px; */
	border: solid 1px #606060;
}
.buy-prodect-checkbox > input {
	margin: 50px;
	
}

/* 쿠폰 */

.buy-select-coupon > p {
	margin-top: 6px;
}
.buy-line{
	border-bottom: 1px solid #555555;
}
.buy-myPoint{
	margin-top: 20px;
	margin-bottom: 100px;
}
.buy-myPoint > span:nth-child(2){
	color: #FFD369;	
	font-weight: 600;
}
#product-ooption {
	font-size: 15px;
	color: #eeeeee;
}
