@charset "UTF-8";

.divProduct {
	padding-top: 30px;
}

#divProd {
	transition: all 0.2s linear;
	background-color: #202020;
	border: solid 2px #202020;
}

#divProd:hover {
  	transform: scale(1.1);
}

#divProd:hover .btnProductInfo {
  	opacity: 1;
}

.btnProductInfo:hover {
	background-color: #FF9843;
}

.prdName {
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	font-fmaily: "고딕";
	font: bold;
	padding-top: 10px;
}
.prdInfo {
	text-align: center;
	font-size: 15px;
}

.btnProductInfo {
	background-color:#ffbe33;
	opacity: 0;
	margin-top: 5px;
	border-radius:10px;
	border:none; 
	height:40px;
	font: bold;
	font-size: 15px;
}
	
#divSide {
	width: 287px;
	height: 100vh;
	float: left;
	margin: 30px 10px 0px 10px;
/*  		position: absolute; */
}

#divSideBar {
	width: 287px;
	height: 600px;
	background-color: #202020;
	border: solid 1px #ffbe33;
	position: absolute;
   	overflow-y: auto;
}

#divSideBar::-webkit-scrollbar{
	width: 7px;
	height: 7px;
}

#divSideBar::-webkit-scrollbar-thumb{
	background: #ffbe33;
	border-radius: 10px;
}

#divSideBar::-webkit-scrollbar-thumb:hover{
	background-color:#FF9843;
}

.divSearch {
	margin: 10px;
	position: relative;
	width: 258px;
}

#inputSearch {
	width: 100%;
  	border: 1px solid #ffbe33;
  	border-radius: 8px;
 	padding: 10px 12px;
  	font-size: 14px;
}

#iconSearch {
	color: #ffbe33;
	position : absolute;
  	width: 17px;
  	top: 10px;
  	right: 12px;
  	margin: 0;
}

.opSearch {
	margin: 0 10px 0 10px;
}

.opTitle {
	font-size: 20px;
	font-weight: bold;
	color: #ffbe33;
}