<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.AdminMapper">
<sql id="search">
		<where>
	 		<choose>
				<when test="type == 'n'.toString()">
					 pno like '%' || #{keyword} || '%'
				</when>
				<when test="type == 't'.toString()">
					or pname like '%' || #{keyword} || '%'
				</when>
				<when test="type == 'c'.toString()">
					or (select tname from tbl_product_type b where b.ptype = a.ptype) like '%' || #{keyword} || '%'
				</when>
				<when test="type == 'r'.toString()">
					or pregdate like '%' || #{keyword} || '%'
				</when>
			</choose>
		</where>		
	</sql>
<sql id="search2">
		<where>
	 		<choose>
				<when test="type == 'n'.toString()">
					 pno like '%' || #{keyword} || '%'
				</when>
				<when test="type == 't'.toString()">
					or mid like '%' || #{keyword} || '%'
				</when>
			</choose>
		</where>		
	</sql>
<sql id="search3">
		<where>
	 		<choose>
				<when test="type == 'n'.toString()">
					 ono like '%' || #{keyword} || '%'
				</when>
				<when test="type == 't'.toString()">
					or mid like '%' || #{keyword} || '%'
				</when>
			</choose>
		</where>		
	</sql>
	<!-- 전체유저 찾기 -->
	<select id="selectUser" resultType="com.kh.elecshop.domain.AdminUserDTO">
		select mno, mname,mid,memail,maddr,maddr_detail,mpoint,mphone,mstate
		from (select /*+index_desc(tbl_member)*/ mno, mname,mid,memail,maddr,maddr_detail,mpoint,mphone,rownum rn ,mstate
              from tbl_member order by rownum asc)
        where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체유저 수 -->
	<select id="selectUserTotal" resultType="int">
		select count(*) from tbl_member
	</select>
	<select id="selectUserPointList" resultType="com.kh.elecshop.domain.AdminUserPointDTO">
		select a.regdate,a.ppoint,b.point_info from tbl_point a, tbl_point_code b
		where a.mid = #{mid}
		and a.point_code = b.point_code
		order by regdate desc
	</select>
	<!-- 유저 정지 -->
	<update id="updateSuspend">
		update tbl_member set
		mstate = 0
		where mno in (
			<foreach collection="array" separator="," item="mnos">
				#{mnos}
			</foreach>
		)
	</update>
	<!-- 유저 복구 -->
	<update id="updateRepair">
		update tbl_member set
		mstate = 1
		where mno in (
			<foreach collection="array" separator="," item="mnos">
				#{mnos}
			</foreach>
		)
	</update>
	<!-- 전체 공지 수 -->
	<select id="selectNoticeTotal" resultType="int">
		select count(*) from tbl_notice
	</select>
	<!-- 전체 공지 찾기 -->
	<select id="selectNotice" resultType="com.kh.elecshop.domain.AdminNoticeDTO">
		select nno,ncategory, ntitle, nregdate,nstate
		from (select /*+index_desc(tbl_product)*/ nno, ncategory,ntitle,nregdate,nstate,rownum rn
		      from tbl_notice order by nregdate asc)
        where rn between #{startRow} and #{endRow}
	</select>
	<!-- product -->
	<!-- 전체 상품 찾기 -->
	<select id="selectProduct" resultType="com.kh.elecshop.domain.AdminProductDTO">
		select pno,pname,pprice,ptype,order_count,pregdate,pimage_thoumb, rownum
		from ( select /*+index_desc(tbl_product)*/ pno, pname,pprice,ptype,order_count,pregdate,pimage_thoumb,rownum rn
		      from tbl_product a
		      <include refid="search"></include> 
              order by rn asc)
         where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체 상품 수 -->
	<select id="selectProductTotal" resultType="int">
		select count(*) from tbl_product a
		<include refid="search"></include>
	</select>
	<select id="selectManuFacturerByMname" resultType="string">
		select mname from tbl_manufacturer
		where mname = #{mname}
	</select>
	<insert id="insertManuFacturer">
		insert into tbl_manuFacturer(mno,mname)
		values((select count(*) + 1 from tbl_manufacturer),#{mname})
	</insert>
	<!-- 상품 추가 -->
	<insert id="insertProduct">
		insert into tbl_product(pno,pname,pprice,pdno,mno,
		pcode,ptype,pinfo_main,pinfo1,pinfo2,pinfo3,pimage_thoumb,pimage_info1,pimage_info2,order_count)
		
		values(seq_pno.nextval,#{pname},#{pprice},#{pdno},#{mno},#{pcode},#{ptype},#{pinfo_main},
		#{pinfo1},#{pinfo2},#{pinfo3},#{pimage_thoumb},#{pimage_info1},#{pimage_info2},#{order_count})
		<selectKey keyProperty="pno" resultType="Integer" order="AFTER">
			select seq_pno.currval
			from dual
		</selectKey>
	</insert>
	<!-- 상품 이미지 추가 -->	
	<insert  id="insertProductImage" parameterType="com.kh.elecshop.domain.FileVO">
		insert into tbl_attr(ano,pno,afilename,apath,auuid,image_info,aurl)
		SELECT seq_attr_ano.nextval, ano.* FROM(
		<foreach collection="list" item="file" separator="union all">
		<![CDATA[
		select
				#{file.pno} as pno,
				#{file.afileName} as afileName,
				#{file.apath} as apath,
				#{file.auuid} as auuid,
				#{file.image_info} as image_info,
				#{file.aurl} as aurl
				from dual 
				]]> 
				
		</foreach>
		) ano
	</insert>
	<!-- 상품 옵션 추가(노트북,태블릿 한정) -->
	<insert id="insertProductOption" parameterType="com.kh.elecshop.domain.AdminProductOptionDTO">
		insert into tbl_product_option(ono,pno,oname,oprice,otype)
		SELECT seq_option_ono.nextval, ono.* FROM(
		<foreach collection="list" item="ramList" separator="union all">
		<![CDATA[
		select
		#{ramList.pno} as pno,
		#{ramList.oname} as oname,
		#{ramList.oprice} as oprice,
		#{ramList.otype} as otype
		from dual
		]]> 
		</foreach>
		) ono
	</insert>
	<!-- 상품 썸네일 이미지 가져오기 -->
	<select id="selectAttrThoumbNailImage" resultType="com.kh.elecshop.domain.FileVO">
		select * from tbl_attr
		where pno = #{pno}
		and image_info = 'thoumb'
	</select>
	<!-- 상품 타입 이름 가져오기 -->
	<select id="selectPtypeName" resultType="string">
		select tname from tbl_product_type
		where ptype = #{ptype}
	</select>

	<!-- 상품 상세 정보가져오기 -->
	<select id="selectProductInfoByPno" resultType="com.kh.elecshop.domain.AdminProductInfoDTO">
		select * from tbl_product
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 옵션 가져오기 -->
	<select id="selectProductInfoOption" resultType="com.kh.elecshop.domain.ProductOptionVO">
		select * from tbl_product_option
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 이미지 가져오기 -->
	<select id="selectProductInfoImage" resultType="com.kh.elecshop.domain.FileVO">
		select * from tbl_attr
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 ram옵션 가져오기 -->
	<select id="selectProductInfoRamOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 1
	</select>
	<!-- 상품 상세정보 ssd옵션 가져오기 -->
	<select id="selectProductInfoSSDOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 2
	</select>
	<!-- 상품 상세정보 color옵션 가져오기 -->
	<select id="selectProductInfoColorOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 3
	</select>
	<!-- 상품 제조사 목록 가져오기 -->
	<select id="selectManuFacturer" resultType="com.kh.elecshop.domain.ManufacturerVO">
		select * from(select * from tbl_manufacturer order by mno asc)
	</select>
	<!-- 상품 상세정보 수정 -->
	<update id="updateProduct">
		update tbl_product set
		 pname = #{pname},
		 mno = #{mno},
		 pprice = #{pprice},
		 pcode = #{pcode},
		 pinfo_main = #{pinfo_main},
		 pinfo1 = #{pinfo1},
		 pinfo2 = #{pinfo2},
		 pinfo3 = #{pinfo3},
		 pimage_thoumb = #{pimage_thoumb},
		 pimage_info1 = #{pimage_info1},
		 pimage_info2 = #{pimage_info2},
		 order_count = #{order_count}
		 where pno = #{pno}
	</update>
	<!-- 상품 옵션 수정 -->
	<update id="updateOption" parameterType="com.kh.elecshop.domain.AdminProductOptionDTO">
	    merge into tbl_product_option op
	    using( 
	        <foreach collection="list" item="item" close="" open="" separator="union">
	            select #{item.ono} as ono,
	                   #{item.pno} as pno,
	                   #{item.oname} as oname,
	                   #{item.oprice} as oprice,
	                   #{item.otype} as otype
	            from dual
	        </foreach>
	    ) add_op
	    on (op.ono = add_op.ono) 
		when matched then 
		update set  
		op.pno = add_op.pno, 
		op.oname = add_op.oname, 
		op.oprice = add_op.oprice,
		op.otype = add_op.otype 
		when not matched then insert(op.ono,op.pno,op.oname,op.oprice,op.otype) 
		values(seq_option_ono.nextval,add_op.pno,add_op.oname,add_op.oprice,add_op.otype)
	</update>
	<!-- 상품 옵션 삭제 -->
	<delete id="deleteProductOptionByPno">
		delete from tbl_product_option
		where pno = #{pno}
	</delete>
	<!-- 상품수정(이미지 파일 수정) -->
	<update id="updateProductImage" parameterType="com.kh.elecshop.domain.FileVO">
		merge into tbl_attr a
		using(
		<foreach collection="list" item="item"  close=""  open="" separator="union">	
			select 
			#{item.ano} as ano,
			#{item.pno} as pno,
			#{item.apath} as apath,
			#{item.auuid} as auuid,
			#{item.aurl} as aurl,
			#{item.afileName} as afileName,
			#{item.image_info} as image_info
			from dual
		</foreach>
		)add_attr
		on(a.ano = add_attr.ano)
		when matched then
		update set
		a.pno = add_attr.pno,
		a.apath = add_attr.apath,
		a.auuid = add_attr.auuid,
		a.aurl = add_attr.aurl,
		a.afileName = add_attr.afileName,
		a.image_info = add_attr.image_info
	</update>
	<!-- 주문 내역 리스트 -->
	<select id="selectOrderList" resultType="com.kh.elecshop.domain.OrderVO">
		select * from (select ono, mid, oname, ophone, oprice, oaddr, oaddr_detail, opost_code, odelivery, delivery_status, regdate, rownum rn from tbl_order
			order by rn desc)
			where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체 주문 내역 갯수 -->
	<select id="selectOrderTotal" resultType="int">
		select count(*) from tbl_order
		<include refid="search3"></include>
	</select>
	<!-- 주문 내역 송장번호 업데이트 -->
	<update id="updateOrderStatus">
		update tbl_order
		set
		delivery_status = #{status}
		where ono = #{ono}
	</update>
	
	<!-- 포인트 내역 리스트 -->
	<select id="selectPointList" resultType="com.kh.elecshop.domain.PointVO">
		select * from (select tbl_point.pno, tbl_point.mid, tbl_point.point_code, tbl_point.ppoint, tbl_point.regdate,
		tbl_point_code.point_info, rownum rn
		from tbl_point_code, tbl_point
        where tbl_point_code.point_code = tbl_point.point_code
       order by rn desc)
			where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체 포인트 내역 갯수 -->
	<select id="selectPointTotal" resultType="int">
		select count(*) from tbl_point
		<include refid="search2"></include>
	</select>
</mapper>