<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.AdminMapper">
	<!-- 전체유저 찾기 -->
	<select id="selectUser" resultType="com.kh.elecshop.domain.AdminUserDTO">
		select mno, mname,mid,memail,maddr,maddr_detail,mpoint,mphone,mstate
		from (select /*+index_desc(tbl_member)*/ mno, mname,mid,memail,maddr,maddr_detail,mpoint,mphone,rownum rn ,mstate
              from tbl_member order by rownum asc)
        where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체유저 수 -->
	<select id="selectUserTotal" resultType="int">
		select count(*) from tbl_member
	</select>
	<!-- 유저 생성 -->
	<insert id="insertUser">
		insert into tbl_member(mno,mname,mid,mpw,memail,maddr,maddr_detail,mphone,mbirthday,mstate,mpost_code)
		values(seq_mno.nextval,#{mname},#{mid},#{mpw},#{memail},#{maddr},#{maddr_detail},#{mphone},#{mbirthday},#{mstate},#{mpost_code})
	</insert>
	<!-- 유저 정지 -->
	<update id="updateSuspend">
		update tbl_member set
		mstate = 0
		where mno in (
			<foreach collection="array" separator="," item="mnos">
				#{mnos}
			</foreach>
		)
	</update>
	<!-- 유저 복구 -->
	<update id="updateRepair">
		update tbl_member set
		mstate = 1
		where mno in (
			<foreach collection="array" separator="," item="mnos">
				#{mnos}
			</foreach>
		)
	</update>
	<!-- 전체 공지 수 -->
	<select id="selectNoticeTotal" resultType="int">
		select count(*) from tbl_notice
	</select>
	<!-- 전체 공지 찾기 -->
	<select id="selectNotice" resultType="com.kh.elecshop.domain.AdminNoticeDTO">
		select nno,ncategory, ntitle, nregdate,nstate
		from (select /*+index_desc(tbl_product)*/ nno, ncategory,ntitle,nregdate,nstate,rownum rn
		      from tbl_notice order by rn asc)
        where rn between #{startRow} and #{endRow}
	</select>
	<!-- product -->
	<!-- 전체 상품 찾기 -->
	<select id="selectProduct" resultType="com.kh.elecshop.domain.AdminProductDTO">
		select pno,pname,pprice,ptype,order_count,pregdate
		from (select /*+index_desc(tbl_product)*/ pno, pname,pprice,ptype,order_count,pregdate,rownum rn
		      from tbl_product order by rn asc)
        where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체 상품 수 -->
	<select id="selectProductTotal" resultType="int">
		select count(*) from tbl_product
	</select>
	
	<!-- 상품 추가 -->
	<insert id="insertProduct">
		insert into tbl_product(pno,pname,pprice,pdno,mno,
		pcode,ptype,pinfo_main,pinfo1,pinfo2,pinfo3,pimage_thoumb,pimage_info1,pimage_info2,order_count)
		
		values(seq_pno.nextval,#{pname},#{pprice},#{pdno},#{mno},#{pcode},#{ptype},#{pinfo_main},
		#{pinfo1},#{pinfo2},#{pinfo3},#{pimage_thoumb},#{pimage_info1},#{pimage_info2},#{order_count})
		<selectKey keyProperty="pno" resultType="Integer" order="AFTER">
			select seq_pno.currval
			from dual
		</selectKey>
	</insert>
	<!-- 상품 이미지 -->	
	<insert  id="insertProductImage" parameterType="com.kh.elecshop.domain.FileVO">
		insert into tbl_attr(ano,pno,afilename,apath,auuid,athoumbnail,aurl)
		SELECT seq_attr_ano.nextval, ano.* FROM(
		<foreach collection="list" item="file" separator="union all">
		<![CDATA[
		select
				#{file.pno} as pno,
				#{file.afileName} as afileName,
				#{file.apath} as apath,
				#{file.auuid} as auuid,
				#{file.athoumbnail} as athumbnail,
				#{file.aurl} as aurl
				from dual 
				]]> 
				
		</foreach>
		) ano
	</insert>
	<!-- 상품 램 추가(노트북,태블릿 한정) -->
	<insert id="insertProductRamOption" parameterType="com.kh.elecshop.domain.AdminProductOptionDTO">
		insert into tbl_product_option(ono,pno,oname,oprice,otype)
		SELECT seq_option_ono.nextval, ono.* FROM(
		<foreach collection="list" item="ramList" separator="union all">
		<![CDATA[
		select
		#{ramList.pno} as pno,
		#{ramList.oname} as oname,
		#{ramList.oprice} as oprice,
		#{ramList.otype} as otype
		from dual
		]]> 
		</foreach>
		) ono
	</insert>
	<!-- 상품 ssd옵션추가(노트북,태블릿한정) -->
	<insert id="insertProductSSDOption" parameterType="com.kh.elecshop.domain.AdminProductOptionDTO">
		insert into tbl_product_option(ono,pno,oname,oprice,otype)
		SELECT seq_option_ono.nextval, ono.* FROM(
		<foreach collection="list" item="ssdList" separator="union all">
		<![CDATA[
		select
		#{ssdList.pno} as pno,
		#{ssdList.oname} as oname,
		#{ssdList.oprice} as oprice,
		#{ssdList.otype} as otype
		from dual
		]]> 
		</foreach>
		) ono
	</insert>
	<!-- 상품 색상옵션 추가 -->
	<insert id="insertProductColorOption" parameterType="com.kh.elecshop.domain.AdminProductOptionDTO">
		insert into tbl_product_option(ono,pno,oname,oprice,otype)
		SELECT seq_option_ono.nextval, ono.* FROM(
		<foreach collection="list" item="colorList" separator="union all">
		<![CDATA[
		select
		#{colorList.pno} as pno,
		#{colorList.oname} as oname,
		#{colorList.oprice} as oprice,
		#{colorList.otype} as otype
		from dual
		]]> 
		</foreach>
		) ono
	</insert>
	<!-- 상품 썸네일 이미지 가져오기 -->
	<select id="selectAttrThoumbNailImage" resultType="com.kh.elecshop.domain.FileVO">
		select * from tbl_attr
		where pno = #{pno}
		and athoumbnail = 'y'
	</select>
	<!-- 상품 타입 이름 가져오기 -->
	<select id="selectPtypeName" resultType="string">
		select tname from tbl_product_type
		where ptype = #{ptype}
	</select>

	<!-- 상품 상세 정보가져오기 -->
	<select id="selectProductInfoByPno" resultType="com.kh.elecshop.domain.AdminProductInfoDTO">
		select * from tbl_product
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 옵션 가져오기 -->
	<select id="selectProductInfoOption" resultType="com.kh.elecshop.domain.ProductOptionVO">
		select * from tbl_product_option
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 이미지 가져오기 -->
	<select id="selectProductInfoImage" resultType="com.kh.elecshop.domain.FileVO">
		select * from tbl_attr
		where pno = #{pno}
	</select>
	<!-- 상품 상세정보 ram옵션 가져오기 -->
	<select id="selectProductInfoRamOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 1
	</select>
	<!-- 상품 상세정보 ssd옵션 가져오기 -->
	<select id="selectProductInfoSSDOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 2
	</select>
	<!-- 상품 상세정보 color옵션 가져오기 -->
	<select id="selectProductInfoColorOption" resultType="com.kh.elecshop.domain.AdminProductOptionDTO">
		select * from tbl_product_option
		where pno = #{pno}
		and otype = 3
	</select>
	<!-- 상품 상세정보 수정 -->
	<update id="updateProduct">
		update tbl_product set
		 pname = #{pname},
		 mno = #{mno},
		 pprice = #{pprice},
		 pcode = #{pcode},
		 pinfo_main = #{pinfo_main},
		 pinfo1 = #{pinfo1},
		 pinfo2 = #{pinfo2},
		 pinfo3 = #{pinfo3},
		 order_count = #{order_count}
		 where pno = #{pno}
	</update>
	
	<!-- 상품 옵션 삭제 -->
	<delete id="deleteOption" parameterType="int">
		delete from tbl_product_option
		where pno = #{pno}
		and ono = #{ono}
	</delete>
	<!-- 상품 이미지 삭제 -->
	<delete id="deleteImage">
		delete from tbl_attr
		where ano = #{ano}
	</delete>

	<!-- 주문 내역 리스트 -->
	<select id="selectOrderList" resultType="com.kh.elecshop.domain.OrderVO">
		select * from (select ono, mid, oname, ophone, oprice, oaddr, oaddr_detail, opost_code, odelivery, delivery_status, regdate, rownum rn from tbl_order
			order by rn desc)
			where rn between #{startRow} and #{endRow}
	</select>
	<!-- 전체 주문 내역 갯수 -->
	<select id="selectOrderTotal" resultType="int">
		select count(*) from tbl_order
	</select>
	<!-- 주문 내역 송장번호 업데이트 -->
	<update id="updateOrderStatus">
		update tbl_order
		set
		delivery_status = #{status}
		where ono = #{ono}
	</update>
</mapper>