<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.NoticeMapper">
<sql id="search">
		<where>
	 		<choose>
				<when test="select == 'n'.toString()">
					 nno like '%' || #{word} || '%'
				</when>
				<when test="select == 't'.toString()">
					or ntitle like '%' || #{word} || '%'
				</when>
				<when test="select == 'c'.toString()">
					or ncategory like '%' || #{word} || '%'
				</when>
				<when test="select == 'd'.toString()">
					or nregdate like '%' || #{word} || '%'
				</when>
				<when test="select == 's'.toString()">
					or nstate like '%' || #{word} || '%'
				</when>
			</choose>
		</where>		
	</sql>
<sql id="foreachByNno">
	<foreach collection="array" item="nnos" separator=",">
		#{nnos}
	</foreach>
</sql>
	<select id="subselectAll" resultType="com.kh.elecshop.domain.SubNoticeDTO">
		select nno,ncategory, ntitle, nregdate
		from (select * from tbl_notice  order by nregdate desc)
		where nstate = 'true'
		<if test='ncategory neq null and ncategory != "전체".toString()'>
			and ncategory like '%' || #{ncategory} || '%'
		</if>
	</select>
	<select id="selectByNno" resultType="com.kh.elecshop.domain.NoticeVO">
		select * from tbl_notice
		where nno = #{nno}
	</select>
	<select id="selectByTop5" resultType="com.kh.elecshop.domain.SubNoticeDTO">
		select nno,ncategory, ntitle, nregdate from
		(select * from tbl_notice order by nregdate desc)
		where rownum between 1 and 5
		and nstate = 'true'
	</select>
	<select id="selectAdminNotice" resultType="com.kh.elecshop.domain.AdminNoticeDTO">
		select nno,ncategory,ncontent, ntitle, nregdate, nstate
		from (select * from tbl_notice order by nregdate desc)
	</select>
	<update id="updateCloseNoticeState">
		update tbl_notice set
			nstate = 'false'
			where nno in(
			<include refid="foreachByNno"></include>
			)
	</update>
	<update id="updateOpenNoticeState">
		update tbl_notice set
			nstate = 'true'
			where nno in(
			<include refid="foreachByNno"></include>
			)
	</update>
	<delete id="deleteNotice">
	delete from tbl_notice
	where nno in(
		<include refid="foreachByNno"></include>
	)
	</delete>
	<insert id="insertNotice">
		insert into tbl_notice(nno,ncategory,ntitle,ncontent,nstate)
		values(seq_nno.nextval,#{ncategory},#{ntitle},#{ncontent},#{nstate})
	</insert>
	<select id="selectSearchWord" resultType="com.kh.elecshop.domain.AdminNoticeDTO">
		select ntitle,nno,ncategory,nregdate,nstate
		from(select nno,ntitle,nregdate,nstate,ncategory 
			 from tbl_notice order by nregdate desc)
		<include refid="search"></include>
	</select>
	<select id="selectSearchTotal" resultType="int">
		select count(*) from(SELECT ntitle,nno,ncategory,nregdate,nstate
		from(select nno,ntitle,nregdate,nstate,ncategory 
			 from tbl_notice order by nregdate desc))
             <include refid="search"></include>
	</select>
	<select id="selectLatestNotice" resultType="com.kh.elecshop.domain.NoticeVO">
		<![CDATA[
			select *
			from tbl_notice
			where rownum < 8
			order by nregdate asc
		]]>
	</select>
	<select id="selectNoticeByCategory" resultType="com.kh.elecshop.domain.NoticeVO">
		select ntitle,nno,ncategory,nregdate,nstate
		from tbl_notice
		where ncategory = #{ncategory}
	</select>
</mapper>