<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.elecshop.mapper.OrderDetailMapper">
	<insert id="insertOrderDetail">
		insert into tbl_order_detail
		(odno, ono, pno, odoption, odproduct_count)
		values
		(seq_order_detail_odno.nextval, #{ono}, #{pno}, #{odoption}, #{odproduct_count})
	</insert>

	<select id="selectMyOrder" resultType="com.kh.elecshop.domain.OrderDetailVO">
		 select odno, tbl_order_detail.pno, ono, pname, pimage_thoumb, odprice, odoption, odproduct_count
		 from tbl_order_detail, tbl_product
 		 where ono = #{ono}
		 and tbl_product.pno = tbl_order_detail.pno
	</select>
</mapper>