<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.elecshop.mapper.OrderMapper">
	<insert id="insertOrder">
		insert into tbl_order
		(ono, mid, oname, ophone, oprice, oaddr, oaddr_detail, opost_code, odelivery)
		values
		(seq_order_ono.nextval, #{mid}, #{oname}, #{ophone}, #{oprice}, #{oaddr}, #{oaddr_detail}, #{opost_code}, #{odelivery})
	</insert>

	<select id="getOno" resultType="int">
		select ono from (select rownum, ono from 
		(select rownum, ono from tbl_order where mid = #{mid} order by rownum desc)
 		where rownum = 1)
	</select>
	
	<select id="getOrderList" resultType="com.kh.elecshop.domain.OrderVO">
		select * from tbl_order
		where mid = #{mid}
		order by ono desc
	</select>
</mapper>