<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.elecshop.mapper.OrderMapper">
	<insert id="insertOrder">
		insert into tbl_order
		(ono, mid, oname, ophone, oprice, oaddr, oaddr_detail, opost_code, odelivery)
		values
		(seq_order_ono.nextval, #{mid}, #{oname}, #{ophone}, #{oprice}, #{oaddr}, #{oaddr_detail}, #{opost_code}, #{odelivery})
	</insert>

	<select id="getSequence">
	</select>
</mapper>