<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.PointMapper">
	<insert id="insertPoint">
		insert into tbl_point
		(pno, mid, ppoint, point_code)
		values
		(seq_point_pno.nextval, #{mid}, #{ppoint}, #{point_code})
	</insert>
	<select id="getPointInfo" resultType="com.kh.elecshop.domain.PointVO">
		select tbl_point.pno, tbl_point.mid, tbl_point.point_code, tbl_point.ppoint, tbl_point.regdate,
		tbl_point_code.point_info
		from tbl_point_code, tbl_point
		where tbl_point.mid = #{mid}
		and tbl_point_code.point_code = tbl_point.point_code
	</select>
</mapper>