<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.QuestionMapper">
	<select id="selectQuestionList" resultType="com.kh.elecshop.domain.QuestionVO">
		select * from t_question
	</select>
	<select id="selectQuestionTop5" resultType="com.kh.elecshop.domain.QuestionVO">
		select qno,qcategory,qtitle,qcontent,qimage,qsubcategory 
		from(select * from t_question order by rownum desc)
		where rownum between 1 and 5
	</select>
</mapper>