<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.elecshop.mapper.VisitCountMapper">

	<select id="isDateExist" resultType="int">
		select count(*)
		from tbl_visit
		where vdate = #{vdate}
	</select>
	
	<select id="selectVisitCount" resultType="com.kh.elecshop.domain.VisitCountVO">
		select *
		from tbl_visit
	</select>
	
	<update id="increasedCount">
		update tbl_visit set
			vcount = vcount + 1
		where vdate = #{vdate}
	</update>
	
	<insert id="insertDate">
		insert into tbl_visit (vdate)
		values (#{vdate})
	</insert>
	
	<select id="selectVisitChart" resultType="com.kh.elecshop.domain.VisitCountVO">
		<![CDATA[
			select  to_char(vdate, 'yy-mm-dd') vdate, vcount
			from tbl_visit
			where rownum < 7
			order by vdate asc
		]]>
	</select>
	
	<select id="selectDayInfo" resultType="com.kh.elecshop.domain.DayInfoDTO">
		select to_char(vdate, 'yy-mm-dd') vdate,
		    (select count(*)
		    from tbl_order
		    where to_char(regdate, 'yyyy-mm-dd') = to_date(#{vdate}, 'yyyy-mm-dd')) order_count,
		    vcount,
		    (select sum(oprice)
		    from tbl_order
		    where to_char(regdate, 'yyyy-mm-dd') = to_date(#{vdate}, 'yyyy-mm-dd')) total_price,
		    (select count(*)
		    from tbl_member
		    where to_char(mregdate, 'yyyy-mm-dd') = to_date(#{vdate}, 'yyyy-mm-dd')) join_count
		from tbl_visit
		where to_char(vdate, 'yyyy-mm-dd') = to_date(#{vdate}, 'yyyy-mm-dd')
	</select>

</mapper>